
body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Pacifico', cursive; */
    width: 100%;
}
/* Classic Classes  */
.classic-padding{
    padding: 7% 10%;
}
.classic-img{
    width: 20%;
    border-radius: 100%;
    text-align: center;
}
.lg-heading{
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 900;
}
.md-heading{
    font-size: 2rem;
    list-style: 1.5;
    font-weight: 700;
    padding: 5% 0;
}
.shadow-effect{
    box-shadow: 2px 3px 2px #00000074;
}
.clr-w{
    color: #fff;
}
.clr-p{
    color: #ff4c68;
}
.bg-w{
    background-color: #fff;
}
.bg-p{
    background-color: #ff4c68;
}
.y-padding{
    padding: 10% 0;
}
h1 i{
    font-size: 70px;
    color: red;
}
h1 i:hover{
    color: #ff4c68;
    cursor: pointer;
}
/* Title Section  */
#title{
    background-color: #ff4c68;
    
}
.brand-logo{
    display: flex;
    align-items: center;
}
.lg-nav-fontsize{
    font-size: 18px;
}
.nav-icon{
    font-size: 30px;
    margin-right: .25rem;
}
.title-line{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Results Section  */
#results h2{
    color: #555;
    cursor: pointer;
}
/* Books Section  */
#books .img-box, .btn-container{
    width: 50%;
    margin: auto;
}
.img-box img{
    width: 100%;
}
.btn-container{
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
}
/* Lift To Up  */
.lift-to-up i{
    position: relative;
    left: 90%;
    font-size: 3rem;
}
/* Footer Section  */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a:hover{
    text-decoration: none;
    color: #fff;
}

/* Media Quary  */

  
  @media (max-width: 480px) {
    .lg-heading{
font-size: 2rem;
    }
    #books .img-box, .btn-container{
        width: 100%;
        
    }
    .lift-to-up i{
        font-size: 2rem;
    }
  }